.hasRequired{
    // border-color: #389e38 !important;
    background-color: #e2ffddb0 !important;
    border-color: #6E66BB !important;
    // background-color: #edecf7 !important
}
.hasError{
    border-color: red !important;
}

.btn-record{
    width: 100px;
}